POSTGRES_DB=traffic_ai_db
POSTGRES_USER=traffic_admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5445
APP_NAME=Traffic AI
APP_ENV=development
API_HOST_PORT=8444
WEB_HTTPS_PORT=8443
AI_SERVICE_URL=http://ai-service:8001
